

body {
  margin: 0;
  background:whitesmoke; 
  text-align: center;
 
}

.Login {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  margin-top: 50px;
  margin-left: 650px;
  margin-right: 650px;
  text-align: center;
  padding: 60px 0;
  box-shadow: 3px 18px 40px 14px  #2e3f54;
}
.Login>h1{

  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  border: 3px solid #ddd;
  color:#2f3f54
}

.Login form {
  margin: 0 auto;
  max-width: 320px;
}
.Login> p{
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  color:red
}
.LoginButton{
  background-color:#2f3f54 ; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
.media {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  display: flex;
  flex-wrap: wrap;
  background-color:whitesmoke;
  margin-top: 10px;
  margin-left: 10px;  
}

.panelMainPic{
  width: 100%;
  height: auto;
}
.panelLeftPic{
  
  float:inline-start;
  height: 50px;
  width: 50px;
  margin-left: 9px;
  opacity: 0.7;

}

.panel-list {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  flex-basis: 250px;
  margin: 10px;
  margin-bottom: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.25);
}

.panel-list > h3 {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  text-align: center;
  color:black
  
}

.panel-list > p {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  font-size: 11px;
  color:black;
  font-style:normal;
  text-align: center;
  padding: 10px 20px;
}

.contact-page{
  background-color : whitesmoke;
}


h1{
  text-align: center; 
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  color:#2f3f54
}

table, td {
  
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  border: 3px solid #ddd;
  background-color: #2f3f54;
  color:white;
  padding : 5px;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th {
  text-align: center;
  padding: 10px;
  font-size: 17px;
}

.form-control{
 
  width: 80%;
  padding: 15px;
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 17px;
  border: 1px solid grey;
  float: inherit;
  background: #dddd;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}